/* Full-page background */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.center-image-overlay {
    position: fixed;              
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;                   
}

.center-image-overlay img {
    max-width: 80vw;              
    max-height: 80vh;
    opacity: 0.5;                 
    pointer-events: none;         
}

/* Level selection container */
.level-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;  
    margin-top: 100px;                 
}

.title {
    color: #ff9900;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive;
    margin-top: 50px;
}

.level-buttons {
    display: flex;
    gap: 3rem;
    justify-content: center;
    height: 200px;
   
}
