/* Center image overlay */
.center-image-overlay {
    position: fixed;              
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;                   
}

.center-image-overlay img {
    max-width: 80vw;              
    max-height: 80vh;
    opacity: 0.5;                 
    pointer-events: none;         
}

/* Level selection container */
.level-page {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    margin-top: 60px; 
}

.title-level-selection {
    color: #ff9900;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', cursive;
    margin-top: 70px;
    margin-left: 600px;
    
}

/* Level card container */
.level-card-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
    flex-wrap: wrap; 
}


.level-card-container:hover {
    background-color: transparent; 
}
