.profile-container {
  padding: 40px;
  background-color: transparent;
  border-radius: 15px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  box-sizing: border-box;
}

.profile-title h1 {
  color: #ff9900;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Comic Sans MS', cursive;
  margin-top: 70px;
  text-align: center;
}

.profile-card {
  display: flex;
  background-color: #3b4d61;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  width: 600px;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 20px;
  margin-left: 20px;
}

.profile-info {
  background-color: #34495e;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.profile-info p strong {
  font-size: 20px;
}

.rank-difficulty, .score-difficulty {
  margin-top: 8px;
  margin-bottom: 12px;
}

.rank-difficulty p, .score-difficulty p {
  margin: 2px 0;
  margin-left: 40px;
  color: #ff9900;
}


@media (max-width: 768px) {
  .profile-container {
    padding: 20px;
    margin-top: 30px;
    width: 90%;
  }

  .profile-title h1 {
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
  }

  .profile-card {
    width: 100%;
    flex-direction: column;
    padding: 15px;
    margin: 10px auto;
  }

  .profile-image {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  .profile-info {
    padding: 15px;
    width: 100%;
    text-align: left;
  }

  .profile-info p,
  .profile-info li {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .rank-difficulty p,
  .score-difficulty p {
    margin-left: 20px;
  }
}
