.forgot-password-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.forgot-password-page {
  width: 400px;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  justify-content: center;
  background-size: cover;
  background-position: center;
}


.forgot-password-form {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
}

.forgot-password-form .input-box1 {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.forgot-password-form .input-box1 input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 12px 45px 12px 20px;
}

.forgot-password-form .input-box1 input::placeholder {
  color: #ccc;
}

.forgot-password-form button {
  width: 300px;
  height: 45px;
  background: linear-gradient(45deg, #F4A034, #8E5D1E);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-form button:hover {
  background-color: #e68a00;
}

.forgot-password-form .remember-forgot1 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  width: 100%;
  margin: 10px 0;
}

.forgot-password-form .remember-forgot1 label,
.forgot-password-form .remember-forgot1 input {
  color: #333;
}

.forgot-password-form .remember-forgot1 a {
  color: #333;
  text-decoration: none;
}

.forgot-password-form .remember-forgot1 a:hover {
  text-decoration: underline;
}

.forgot-success-message {
  color: #1b32b4;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}

.forgot-error-message {
  color: #dc3545;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .forgot-password-wrapper {
    width: 90%;
    padding: 15px;
  }

  .forgot-password-title {
    font-size: 28px;
  }

  .forgot-password-form .input-box1 {
    margin: 15px 0;
  }

  .forgot-password-form .input-box1 input {
    font-size: 14px;
    padding: 12px 40px 12px 15px;
  }

  .forgot-password-form button {
    width: 100%;
    font-size: 14px;
  }

  .remember-forgot1 {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .forgot-password-wrapper {
    width: 90%;
    padding: 10px;
  }

  .forgot-password-title {
    font-size: 24px;
  }

  .forgot-password-form .input-box1 input {
    font-size: 14px;
    padding: 10px 30px 10px 12px;
  }

  .forgot-password-form button {
    width: 100%;
    font-size: 14px;
  }

  .remember-forgot1 {
    font-size: 9px;
  }
}
