.reset-password-page {
  width: 400px;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  justify-content: center;
  background-size: cover;
  background-position: center;
  }
  
  .reset-password-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .reset-password-form {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
  }
  
  .reset-password-page input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 12px 45px 12px 20px;
  }
  
  .reset-password-page input:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 4px rgba(40, 167, 69, 0.4);
  }
  
  .reset-password-page button {
    width: 300px;
    height: 45px;
    background: linear-gradient(45deg, #F4A034, #8E5D1E);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reset-password-page button:hover {
    background-color: #e68a00;
  }
  
  .reset-success-message {
    color: #1b32b4;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .reset-error-message {
  color: #dc3545;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
  }
  