body {
    background-image: linear-gradient(314deg, #51713a 0%, #000e21 74%);
    background-size: contain;
    background-position: center;      
    background-repeat: no-repeat;     
    background-attachment: fixed;
    margin: 0;
    padding: 0;                      
    overflow: hidden;                 
}

.center-image-section {
display: flex;                    
justify-content: center;           
align-items: center;
height: 100vh;
width: 100vw; 
position: relative;  
                 
}
.center-image-section img {
height: auto;                      
max-height: 100vh;                 
max-width: 100vw;
z-index: 0;
}

.button-container {
    position: absolute; 
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 1;  
}

/* Style the button */
.loginbtn {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(45deg, #F4A034, #8E5D1E);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;  
    position: relative; 
    margin-left: 1280px;
    margin-bottom: 40%; 
}

/* Hover effect for the button */
.loginbtn:hover {
    background: linear-gradient(45deg, #8E5D1E, #F4A034);
}