
.banner {
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../assets/images/valentin-petrov-m-mal-01.jpg');
  background-size: cover;
  background-position: center;
  animation: bgZoomIn 4s ease-in-out 1 forwards;
  z-index: -1;
  pointer-events: none;
}
.banner::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../../assets/images/after.png');
  background-size: cover;
  background-position: top;
  transform: scale(2);
  animation: bgZoomOut 4s ease-in-out 1 forwards;
  z-index: -1;
  pointer-events: none;
}
@keyframes bgZoomIn {
  from {
    transform: scale(1.2);
  } to {
    transform: scale(1);
  }
}
@keyframes bgZoomOut {
  from {
    transform: scale(1);
  } to {
    transform: scale(2);
  }
}

svg path {
  fill: transparent;
  stroke: white;
  stroke-width: 0.1;
  stroke-dasharray: 60;
  stroke-dashoffset: 50;
  animation: textAnimation 4s ease-in-out 1 forwards;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .login-btn {
    background: linear-gradient(45deg, #F4A034, #8E5D1E);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  
  .login-btn:hover {
    background: linear-gradient(45deg, #D9892B, #7A4F1A);
    box-shadow: 0px 15px 20px rgba(138, 85, 30, 0.4);
    transform: translateY(-5px);
  }
  
  .login-btn:active {
    background: linear-gradient(45deg, #C07826, #694216);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }
  