
.level-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 20px;
}


.level-card-container {
    display: flex;
}

.level-card {
    background-color: #34495e;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 16px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
   
}

.level-icon {
    width: 70px; 
    height: auto; 
    margin: 10px 0;
    margin-left: 50px;
}

.level-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.level-card p {
    margin: 8px 0;
    color: #f6f6f6;
    font-size: 1.5rem;
}

.level-card h2{
    font-size: 18px;
}

.level-btn3 {
    padding: 10px 16px;
    background-color: #eea81c;
    color: #333;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    width: 100px;
}

.level-btn3:hover {
    background-color: #ffcc00;
    transform: scale(1.05);
}

.level-btn3:active {
    background-color: #e6b800;
}
